<ion-header>
  <ion-toolbar>
    <ion-title slot="end" padding>
      Valores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="3">
        <ion-button (click)="onClick()">
          C
        </ion-button>
        <ion-button (click)="onClick()">
          7
        </ion-button>
        <ion-button (click)="onClick()">
          4
        </ion-button>
        <ion-button (click)="onClick()">
          1
        </ion-button>
        <ion-button (click)="onClick()" class="light-button">
          +/-
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="onClick()">
          %
        </ion-button>
        <ion-button (click)="onClick()">
          8
        </ion-button>
        <ion-button (click)="onClick()">
          5
        </ion-button>
        <ion-button (click)="onClick()">
          2
        </ion-button>
        <ion-button (click)="onClick()">
          0
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="onClick()">
          «
        </ion-button>
        <ion-button (click)="onClick()">
          9
        </ion-button>
        <ion-button (click)="onClick()">
          6
        </ion-button>
        <ion-button (click)="onClick()">
          3
        </ion-button>
        <ion-button (click)="onClick()">
          .
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="onClick()">
          ÷
        </ion-button>
        <ion-button (click)="onClick()">
          *
        </ion-button>
        <ion-button (click)="onClick()">
          -
        </ion-button>
        <ion-button (click)="onClick()">
          +
        </ion-button>
        <ion-button (click)="onClick()">
          =
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>